html(lang="en")
    head
        meta(charset="UTF-8")
        title Noom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 It works!!
        main
            form#nick
                input(type="text", placeholder="choose a nickname", required=true)
                button Save
            ul
            form#message
                input(type="text", placeholder="message", required=true)
                button send
        button Call
        script(src="/public/js/app.js")
